[submodule "bgfx"]
	path = bgfx
	url = https://github.com/DeepARSDK/shaderc-bgfx.git
[submodule "bx"]
	path = bx
	url = https://github.com/DeepARSDK/shaderc-bx.git
[submodule "bimg"]
	path = bimg
	url = https://github.com/DeepARSDK/shaderc-bimg.git
